@model MVC.Models.tblEmployee
 <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            background: linear-gradient(270deg,#52a3e5, #0a487a, #04054b, #02032b);
        }

        .container{
            border: 3px solid rgba(255, 255, 255, 0.341);
            border-image-slice: 1;
            border-radius: 32px;
            position: relative;
            background-color: rgb(145, 186, 215);
            width: 560px;
            min-height: 260px;
            padding: 12px;
            display: flex;
            z-index: 3;
            padding-top: 100px;
            align-items: start;
            justify-content: center;
            box-shadow: 5px 10px 12px rgba(2, 11, 90, 0.3);
            
        }

        /* input{
            border: 0;
            padding: 18px 24px;
            width: 300px;
            background-color: rgb(1, 11, 84);
            box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.673);
            color: white;
            border-radius: 12px;
            font-size: 16px;
            
        } */

        .input{
            border: 0;
            padding: 18px 32px;
            width: 300px;
            height: 52px;
            background-color: rgb(1, 11, 84);
            box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.673);
            color: white;
            border-radius: 12px;
            font-size: 16px;
            
        }

        .drop{
            border: 0;
            padding: 18px 24px;
            width: 100%;
            background-color: rgb(1, 11, 84);
            box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.673);
            color: white;
            border-radius: 12px;
            font-size: 16px;
            
        }

        input::placeholder{
            color: rgb(255, 255, 255);
        }

        .field{
            margin-top: 22px;
            border: 2px solid black;
            border-radius: 14px;
            padding-left: 50px;
            box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.602);
        }

        .circle{
            display: flex;
            width: 150px;
            height: 150px;
            position: absolute;
            border: 2px solid rgb(47, 142, 250);
            top: -90px;
            justify-content: center;
            align-items: center;
            border-radius: 120px;
            filter: drop-shadow(5px 16px 10px rgba(4, 4, 77, 0.721));
            background-color: black;

        }

        .circle2{
            width: 110px;
            height: 110px;
            margin: 12px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 120px;
            background-color: rgb(2, 10, 54);
            border: 6px solid white;
        }
        img{
            width: 110px;
            height: 110px;
            object-fit: cover;
            border-radius: 120px;
        }
        .button-box{
            width: 450px;
            height: 160px;
            border-radius: 32px;
            top: 480px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            border: 3px solid rgba(255, 255, 255, 0.341);
            box-shadow: 8px 10px 12px rgba(108, 99, 99, 0.403);
            background-color: rgb(145, 186, 215);
            position: absolute;
        }

        .prime{
            position: relative;
            display: flex;
            justify-content: center;
        }
        .btn{
            margin-top: 80px;
            width: 200px;
            font-size: 22px;
            padding: 12px 32px;
            color: white;
            background-color: rgb(10, 3, 85);
            font-weight: 600;
            border: 2px solid white;
            box-shadow: 6px 6px 12px black;
            box-shadow: inset 2px 0.5px 8px black;
            cursor: pointer;
            border-radius: 12px;
        }

        .btn:hover{
            text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.696);
            box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.901);

        }
        
        .reg{
            margin-top: 50px;
            text-align: center;
        }
        span{
            text-decoration: underline;
            cursor: pointer;
        }
        
    </style>

    <div class="box">
        <div class="prime">
            <div class="container">
                <div class="circle">
                    <label for="imgFile">
                        <div class="circle2">
                            <img id="displayImg"/>
                        </div>
                    </label>
                </div>
                <form id="fruitForm" asp-action="AddEmployee" enctype="multipart/form-data">

                    <input class="input" type="text" hidden placeholder="id">

                    <input type="file" hidden id="imgFile" asp-for="imgFile">
                    <input type="hidden" id="hiddenImgFile" name="imgFile" asp-for="imgFile">

                    <div class="field">
                        <input class="input" id="c_empname" asp-for="c_empname" placeholder="Name" type="text" >
                        <input type="hidden" id="hiddenName" name="c_empname" asp-for="c_empname">
                    </div>
                    <div class="field">
                        <div class="input">
                            <input name="c_empgender" id="male" asp-for="c_empgender" value="Male" type="radio"><label for=""> Male</label>
                            <input name="c_empgender" id="female" asp-for="c_empgender" value="Female" type="radio"><label for=""> Female</label>
                            <input name="c_empgender" id="other" asp-for="c_empgender" value="Other" type="radio"><label for=""> Other</label>
                            <input type="hidden" id="hiddenGender" name="c_empgender" asp-for="c_empgender">
                        </div>
                    </div>
                    <div class="field">
                        <div class="input">
                            <input type="checkbox" id="afternoon" name="c_shift" value="A"><label for=""> A</label>
                            <input type="checkbox" id="morning" name="c_shift" value="M"><label for=""> M</label>
                            <input type="hidden" id="hiddenShift" name="c_shift" asp-for="c_shift">
                        </div>
                    </div>
                    <div class="field">
                        <input class="input" name="c_dob"  id="c_dob" asp-for="c_dob" type="date">
                        <input name="c_dob" id="hiddenDob" asp-for="c_dob" type="hidden">

                    </div>
                    <div class="field">
                        <select id="c_depart" class="drop" asp-for="c_depart" asp-items="@Model.depList"></select>
                            <input type="hidden" id="hiddenDepart" name="c_depart" asp-for="c_depart">
                    </div>
                    <p class="reg"></p>
                </form>
            </div>
            <div class="button-box">
                <input id="addFruitBtn" type="submit" class="btn" value="Add"/>
            </div>
        </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script>
        $(document).ready(function () {

            $("#imgFile").change(function(event){
                var x = URL.createObjectURL(event.target.files[0]);
                $("#displayImg").attr("src", x);
            });

            $("#addFruitBtn").click(function () {
                // Update hidden inputs with the latest values
                $("#hiddenName").val($("#c_empname").val());
                $("#hiddenDepart").val($("#c_depart").val());
                $("#hiddenImgFile").val($("#imgFile").val());
                $("#hiddenDob").val($("#c_dob").val());
                $("#hiddenGender").val($("input[name='c_empgender']:checked").val());

                var checkedShift = [];
                $("input[name='c_shift']:checked").each(function () {
                    checkedShift.push($(this).val());
                });
                $("#hiddenShift").val(checkedShift.join(","));
                debugger
                // Submit the form
                $("#fruitForm").submit();
            });
        });
    </script>

@* <div>
    <h2>Add Employee</h2>
    <form asp-action="AddEmployee" enctype="multipart/form-data">
        <div class="form-group">
            <p>Employee Name</p>
            <input class="form-control" type="text" asp-for="c_empname">
        </div>
        <div>
            <p>Employee Gender</p>
            <div style="display: flex; gap:20px; align-items:center;">
                <input type="radio" asp-for="c_empgender" value="Male">
                <p>Male</p>
                <input type="radio" asp-for="c_empgender" value="Female">
                <p>Female</p>
                <input type="radio" asp-for="c_empgender" value="Other">
                <p>Other</p>
            </div>
        </div>
        <div>
            <p>Employee Dob</p>
            <input class="form-control" type="date" asp-for="c_dob">
        </div>
        <div>
            <p>Shift</p>
            <input type="checkbox" name="c_shift" value="A">A
            <input type="checkbox" name="c_shift" value="M">M
        </div>
        <div class="form-group">
            <p>Department</p>
            <select asp-for="c_depart" asp-items="@Model.depList"></select>
        </div>
        <div class="form-group">
            <p>Employee Pic</p>
            <input class="form-control" type="file" asp-for="imgFile">
        </div>
        <input class="btn btn-success" type="submit" value="Add Employee">
    </form>
</div> *@