<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvc</title>
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvc.styles.css" asp-append-version="true" />
</head>

<style>
    body{
        padding:0;
    margin:0;
    box-sizing:border-box;
    }
    @* .box{
        padding-top:60px;
        padding-inline:120px;
    } *@

    ul{
        display:flex;
        list-style:none;
        align-items:center;
        background-color:black;
        color:white;
        gap:26px;
    }
    .shiv{
        text-decoration: none;
        color: white;
    }
</style>
<body>
        <ul>
                        <li >
                            <a class="nav-link text-light shiv" asp-area="" asp-controller="SimpleMVC" asp-action="Login">Simple MVC Login</a>
                        </li>
                        <li>
                            <a class="nav-link text-light shiv" asp-area="" asp-controller="/SimpleAPI" asp-action="Register">Simple API Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light shiv" asp-area="" asp-controller="MVCKendoComp" asp-action="Register">Kendo Component MVC Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light shiv" asp-area="" asp-controller="/APIKendoComp" asp-action="Register">Kendo Component API Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light shiv" asp-area="" asp-controller="MVCAjax" asp-action="Register">MVC Ajax Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light shiv" asp-area="" asp-controller="/APIAjax" asp-action="Register">API Ajax Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light shiv" asp-area="" asp-controller="MVCKendoGrid" asp-action="MVCIndex">MVC Kendo Grid</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light shiv" asp-area="" asp-controller="/APIKendoGrid" asp-action="APIIndex">API Kendo Grid</a>
                        </li>
        </ul>
   
        <main role="main" class="box">
            @RenderBody()
        </main>
    

    
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
