
@model MVC.Models.tblUser

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MVCKendoComp.cshtml";
}

<h2>Register</h2>

<link href="https://kendo.cdn.telerik.com/2024.1.130/styles/kendo.common.min.css" rel="stylesheet" />
<link href="https://kendo.cdn.telerik.com/2024.1.130/styles/kendo.default.min.css" rel="stylesheet" />
<script src="https://kendo.cdn.telerik.com/2024.1.130/js/kendo.ui.core.min.js"></script>
 
@using (Html.BeginForm("Login", "MVCKendoComp", FormMethod.Post, new { id = "register" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div>
            <input id="txtName" asp-for="c_uname" required />
        </div>

        <div>
            <input id="txtEmail" asp-for="c_uemail" required />
        </div>

        <div>
            <input id="txtPass" asp-for="c_password" type="password" /><br>
        </div>

         <div>
            <input id="txtCPass" asp-for="c_chkpassword" type="password" /><br>
        </div>

        @* <div>
            <label>Gender:</label>
            <input id="txtMGender" type="radio" asp-for="gender" value="Male" />
            <input id="txtFGender" type="radio" asp-for="gender" value="Female" />
            <input id="txtOGender" type="radio" asp-for="gender" value="Other" /><br>
        </div>

       

        <div>
            <label for="hobby">Hobby:</label>
            <input id="Reading" name="hobby" type="checkbox" value="Reading"/>
            <input id="Singing" name="hobby" type="checkbox"  value="Singing"/>
            <input id="Dancing" name="hobby" type="checkbox" value="Dancing"/><br>
    
        </div>

         <div>
            <label for="txtDob">Date of Birth:</label>
            <input id="txtDob" asp-for="DOB" /><br>
        </div>

        <div>
            <label for="txtCity">City:</label>
            <input id="txtCity" asp-for="city" /><br>
        </div>

        <div>
            <label for="txtDept">Department:</label>
            <input id="txtDept" asp-for="department" /><br>
        </div>

        
        <div>
            <label for="filePicker">Profile Picture:</label>
            <input type="file" id="filePicker" asp-for="photo" accept="image/*" />
        </div> *@


        <div>
            <br>
            <input type="submit" value="Register" id="btnSubmit" class="btn btn-success" />
            <br>
            Already Have An Account? <a asp-action="Login" asp-controller="/MVCKendoComp">Login</a>
        </div>
    </div>
}


@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryval") *@
    
    <script>
        $(document).ready(function () {
            $("#txtName").kendoTextBox({
                label: {
                    content: "Name",
                    floating:true
                }
            });

            $("#txtEmail").kendoTextBox({
                label: {
                    content: "Email",
                    floating: true
                }
            });

            @* $("#txtMGender").kendoRadioButton({
                label:"Male",
                size:"50px"
            });

            $("#txtFGender").kendoRadioButton({
                label: "Female",
                size:"20px"
            });

             $("#txtOGender").kendoRadioButton({
                label: "Other",
                size:"20px"
            });

            $("#txtDob").kendoDatePicker({
                format: "yyyy-MM-dd"
            });

            $("#Reading").kendoCheckBox({
                label:"Reading",
                 size:"50px",
                rounded:"large"
            });
             
            
             
            $("#Singing").kendoCheckBox({
                label:"Singing",
                size:"large",
                rounded:"large"
            });
            $("#Dancing").kendoCheckBox({
                label:"Dancing",
                size:"large",
                rounded:"large"
            });

            
            
        
            function loadDataForDropdown(selector, url,index) {
                return new Promise(function (resolve, reject) {
                var text=index+"name";
                var value=index+"id";
                $(selector).kendoDropDownList({
                        dataTextField:text,
                        dataValueField:value,
                        dataSource: {
                            transport: {
                                read: {
                                    url: url,
                                    dataType: "json"
                                }
                            },
                        },
                        height: "400px",
                        filter: "contains",
                        dataBound: function (e) {
                            resolve();
                        }
                    });
                });
            }
            loadDataForDropdown("#txtCity", "https://localhost:7114/Employee/GetCities","city")
            .then(function () {
                return loadDataForDropdown("#txtDept", "https://localhost:7114/Employee/GetDepts","department");
            })
            .then(function () {
                console.log("All dropdowns loaded successfully.");
            })
            .catch(function (error) {
                console.error("Error loading dropdowns:", error);
            }); *@
           

            $("#txtPass").kendoTextBox({
                label: {
                    content: "Password",
                    floating:true
                }
            });

             $("#txtCPass").kendoTextBox({
                label: {
                    content: "Confirm Password",
                    floating:true
                }
            });
            

            $("#btnSubmit").kendoButton({
                themeColor:"success"
            });
            $(document).on("click","#btnSubmit",function(e){
                e.preventDefault();
                var formData = $("#register").serialize();


               
                
                $.ajax({
                    url:"/MVCKendoComp/Register",
                    method:"post",
                    data:formData,
                    
                    success: function(response){
                        console.log(response);
                        debugger
                        if(response){
                            alert("Registered Successfully!");
                            window.location.href="https://localhost:7249/MVCKendoComp/Login";
                        }

                        else{
                            alert("Some error occured!");
                        }
                    },
                    error:function(jqXHR, textStatus, errorThrown){
                        alert("Some Error Occured");
                        console.error("Error:", textStatus, errorThrown);
                    }
                });
                });
        });
    </script>
}
